/*Colores*/
$spanColor: #f80adc;
$bodyBackground-color: #f2f2f2;
$blanco: #fff;
$botonColor:#008fd1;

/*Media Queries*/
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

/*Fuentes*/
$fuenteFamilia: Libre Baskerville, serif;